.blank {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

.blank__main {
  background-color: hsl(0, 0%, 96%);
  padding: 72px 0;
}

.blank__inner {
  margin: 0 auto;
  max-width: 1168px;
}
