.reflection {
  border-collapse: collapse;
  font-size: inherit;
  /* margin-top: 24px; */
  margin-top: 12px;
  width: 100%;
}

.reflection__record {
  padding: 12px 0;
}

.reflection__container {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.reflection__meta {
  display: flex;
  margin: 0;
}

.reflection__tag {
  display: inline-block;
  font-family: var(--text-font-monospace);
  font-size: 13px;
  line-height: 1;
  margin-left: 8px;
  padding: 6px 7px;
}

.reflection__tag:first-child {
  margin-left: 0;
}

.reflection__tag_name {
  /* letter-spacing: 1.3px; */
  background-color: var(--color-scale-neutral-3);
  border-radius: 3px;
  font-weight: 600;
}

.reflection__tag_name + .reflection__tag {
  /* margin-left: 16px; */
}

.reflection__tag_required {
  color: var(--color-scale-red-0);
  text-transform: lowercase;
}

.reflection__description {
  font-size: 13px;
  margin: 14px 0 0 0;
}
