---
layout: page/page.njk
---
<div class="product">
  {% include "blocks/header/header.njk" %}
  <div class="product__main">
    <div class="product__inner">
      <nav class="product-nav">
        {% if collections.products.length > 0 %}
          {% for p in collections.products %}
            {% if p.internal.data.title == "Document Builder" %}
              <div class="tree">
                <ul class="tree__limb tree__limb_bole">
                  {% for p in p.children %}
                    <li class="tree__branch tree__branch_bole">
                      <div class="tree__twig">
                        <a class="tree__leaf tree__leaf_bole" href="{{ p.internal.url }}">{{ p.internal.data.title }}</a>
                      </div>
                      {% if p.children.length > 0 %}
                        <ul class="tree__limb">
                          {% for p in p.children %}
                            <li class="tree__branch">
                              <div class="tree__twig">
                                {% if p.children.length > 0 %}
                                  <button class="tree__fruit" type="button">
                                    <svg fill="none" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                      <path d="m4.531 2.5923 1e-6 18.815c0 1.3326 1.5415 2.0735 2.5821 1.241l11.76-9.4077c0.79529-0.63623 0.79529-1.8458 0-2.4821l-11.76-9.4077c-1.0406-0.8325-2.5821-0.091605-2.5821 1.241z" fill="#808080" />
                                    </svg>
                                  </button>
                                {%- endif -%}
                                <a class="tree__leaf" href="{{ p.internal.url }}">{{ p.internal.data.title }}</a>
                              </div>
                              {% if p.children.length > 0 %}
                                <ul class="tree__limb">
                                  {% for p in p.children %}
                                    <li class="tree__branch">
                                      <div class="tree__twig">
                                        {% if p.children.length > 0 %}
                                          <button class="tree__fruit" type="button">
                                            <svg fill="none" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                              <path d="m4.531 2.5923 1e-6 18.815c0 1.3326 1.5415 2.0735 2.5821 1.241l11.76-9.4077c0.79529-0.63623 0.79529-1.8458 0-2.4821l-11.76-9.4077c-1.0406-0.8325-2.5821-0.091605-2.5821 1.241z" fill="#808080" />
                                            </svg>
                                          </button>
                                        {%- endif -%}
                                        <a class="tree__leaf" href="{{ p.internal.url }}">{{ p.internal.data.title }}</a>
                                      </div>
                                      {% if p.children.length > 0 %}
                                        <ul class="tree__limb">
                                          {% for p in p.children %}
                                            <li class="tree__branch">
                                              <div class="tree__twig">
                                                <a class="tree__leaf" href="{{ p.internal.url }}">{{ p.internal.data.title }}</a>
                                              </div>
                                            </li>
                                          {% endfor %}
                                        </ul>
                                      {% endif %}
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </nav>
      <main class="product__main2">
        <div class="product__inner2">
          {{ content | safe }}
        </div>
      </main>
    </div>
  </div>
  {% include "blocks/footer/footer.njk" %}
</div>
