<style>
.section {
  margin-top: 24px;
}

.section:first-of-type {
  /* margin-top: 0; */
}

.heading {
  color: var(--color-scale-orange-0);
  margin: 0;
}

.description {
  font-size: 13px;
  margin: 24px 0 0 0;
}

.snippet {
  border: 1px solid var(--color-scale-gray-1);
  font-family: var(--text-font-monospace);
  margin-top: 24px;
}

.snippet__header {
  display: flex;
  background-color: var(--color-scale-neutral-1);
}

.snippet__tabs {
  border-right: 1px solid var(--color-scale-gray-1);
}

.snippet__tab {
  align-items: center;
  background-color: var(--color-scale-white);
  display: flex;
  font-size: 13px;
  height: calc(100% - 9px * 2);
  line-height: 1;
  padding: 9px 12px;
}

.snippet__actions {
  margin-left: auto;
}

.snippet__action {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 4px;
}

.snippet__action svg {
  display: block;
}

.snippet__body {
  background-color: var(--color-scale-neutral-0);
  border-top: 1px solid var(--color-scale-gray-1);
  font-family: inherit;
  font-size: 13px;
  margin: 0;
  padding: 9px 35px;
}

.heading2 {
  background-color: var(--color-scale-neutral-2);
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 6px 11px;
}

.reflection {
  border-collapse: collapse;
  font-size: inherit;
  /* margin-top: 24px; */
  margin-top: 12px;
  width: 100%;
}

.reflection__record {
  padding: 12px 0;
}

.reflection__container {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.reflection__meta {
  display: flex;
  margin: 0;
}

.reflection__tag {
  display: inline-block;
  font-family: var(--text-font-monospace);
  font-size: 13px;
  line-height: 1;
  margin-left: 8px;
  padding: 6px 7px;
}

.reflection__tag:first-child {
  margin-left: 0;
}

.reflection__tag_name {
  /* letter-spacing: 1.3px; */
  background-color: var(--color-scale-neutral-3);
  border-radius: 3px;
  font-weight: 600;
}

.reflection__tag_name + .reflection__tag {
  /* margin-left: 16px; */
}

.reflection__tag_required {
  color: var(--color-scale-red-0);
  text-transform: lowercase;
}

.reflection__description {
  font-size: 13px;
  margin: 14px 0 0 0;
}
</style>
{% for c in pagination.items %}
  <h1 class="heading">{{ c.name }}</h1>
  {% if c.description %}
    <section class="section">
      <h2 class="heading2">Description</h2>
      <p class="description">{{ c.description }}</p>
      {% for s in c.signatures %}
        <div class="snippet">
          <header class="snippet__header">
            <div class="snippet__tabs">
              <span class="snippet__tab">Unknown</span>
            </div>
            <div class="snippet__actions">
              <button class="snippet__action" type="button">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M17 14.5C17 14.7761 17.2239 15 17.5 15C17.7761 15 18 14.7761 18 14.5V8.5C18 7.11929 16.8807 6 15.5 6H9.5C9.22386 6 9 6.22386 9 6.5C9 6.77614 9.22386 7 9.5 7H15.5C16.3284 7 17 7.67157 17 8.5V14.5ZM14 9H8C7.44772 9 7 9.44772 7 10V16C7 16.5523 7.44772 17 8 17H14C14.5523 17 15 16.5523 15 16V10C15 9.44772 14.5523 9 14 9ZM8 8C6.89543 8 6 8.89543 6 10V16C6 17.1046 6.89543 18 8 18H14C15.1046 18 16 17.1046 16 16V10C16 8.89543 15.1046 8 14 8H8Z" fill="#A3A9AE"/>
                </svg>
              </button>
            </div>
          </header>
          <pre class="snippet__body">{{ s }}</pre>
        </div>
      {% endfor %}
    </section>
  {% endif %}
  {% if c.parameters.length > 0 %}
    <section class="section">
      <h2 class="heading2">Parameters</h2>
      <table class="reflection">
        <caption class="sr-only">Parameters for <code>{{ c.name }}</code></caption>
        <thead class="sr-only">
          <tr>
            <th>Name, Type, Required, Description</th>
          </tr>
        </thead>
        <tbody>
          {% for p in c.parameters %}
            <tr>
              <td class="reflection__record">
                <div class="reflection__container">
                  <p class="reflection__meta">
                    <code class="reflection__tag reflection__tag_name">{{ p.name }}</code>
                    <!-- todo: support cross reference -->
                    <code class="reflection__tag">{{ p.type }}</code>
                    {% if p.required %}
                      <span class="reflection__tag reflection__tag_required">Required</span>
                    {% endif %}
                  </p>
                  <p class="reflection__description">{{ p.description }}</p>
                  <!-- {% if p.default %}
                    <p>Default {{ p.default }}</p>
                  {% endif %}
                  {% if p.example %}
                    <p>Example {{ p.example }}</p>
                  {% endif %} -->
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% endif %}
  {% if c.returns.length > 0 %}
    <section class="section">
      <h2 class="heading2">Returns</h2>
      <p>
        {% for p in c.returns %}
          {{ p.type }}
        {% endfor %}
      </p>
    </section>
  {% endif %}
  {% if c.examples > 0 %}
    <section class="section">
      <h2 class="heading2">Examples</h2>
      {% for e in c.examples %}
        <div>
          <header>
            <button type="button">?</button>
          </header>
          <pre>{{ e }}</pre>
        </div>
      {% endfor %}
    </section>
  {% endif %}
  {% if c.result %}
    <!-- todo: iframe -->
  {% endif %}
{% endfor %}
