---
title: Desktop Editors
description: Extend the ONLYOFFICE Desktop Editors functionality. In this section, you will learn how to set up, customize and integrate them with the document management systems.
permalink: /desktop-editors/index.html
logo: blocks/product-logo/desktop-editors.njk
---
