---
title: DocSpace
description: Create your own productivity platform based on ONLYOFFICE DocSpace. In this section, you will learn how to make GET, POST, PUT and DELETE requests to collaborate on documents with teams, clients, partners, etc., based on the concept of rooms – special spaces with predefined permissions.
permalink: /docspace/index.html
layout: product/product.njk
logo: blocks/product-logo/docspace.njk
order: -1
---
{{ description }}
